.wrapper {
    height: var(--default-layout-header-height);
    width: var(--default-layout-header-width);
    box-shadow: 0px 1px 1px black;
    display: flex;
    justify-content: center;
}
.inner {
    height: 100%;
    width: var(--default-layout-header-width);
    background-color: grey;
}
.logo {
    width: 30%;
    height: 100%;
    background-color: blue;
    float: left;
}
.right-header {
    width: 70%;
    height: 100%;

    float: left;
}
.facilities-nav {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: right;
    padding: 10px 10px;
}
.search,
.search-result {
    width: 310px;
}

.search {
    position: relative;

    height: 42px;
    color: #d1d1d1;
    background-color: black;
    border-radius: 92px;
    vertical-align: middle;
    padding-left: 30px;
    display: flex;

    input {
        flex: 1;
        height: 100%;
        color: white;
        font-size: 1.6rem;
        background-color: black;
    }
}
.search-result {
    padding-left: 35px;
}

input:not(:placeholder-shown) ~ .search-btn {
    color: rgba(131, 62, 40, 0.75);
}
.search-btn {
    width: 50px;
    height: 100%;
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;
    font-size: 1.8rem;
}
.clear,
.loading {
    position: absolute;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}
.en-btn {
    border-radius: 92px;
    width: 50px;
    margin-left: 10px;
}
.navigation {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: right;
    padding: 10px 10px;
}

.home-btn {
    height: 100%;
    width: 50px;
    border-radius: 92px;
}
.nav {
    width: 900px;
    position: relative;
    padding: 3px;
    border: 1px solid #e00d7a;
    border-radius: 92px;
    display: inline-block;
    vertical-align: middle;
}
ol,
ul {
    list-style: none;
}
.nav li {
    float: left;
    display: block;
}
