@import 'normalize.css';

:root {
    --default-layout-header-height: 135px;
    --default-layout-header-width: 1300px;
}
html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'avantgarde-demi', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
button,
input,
[tabindex] {
    outline: none;
    border: none;
}
a[href] {
    text-decoration: none;
    color: white;
}
// Fonts embeded
@font-face {
    font-family: avantgarde-demi;
    src: url('/assets/fonts/avantgdemi.woff');
}
