.wrapper {
    width: 100%;
    box-shadow: 0px 1px 1px black;
    display: flex;
    justify-content: center;
}
.inner {
    height: 100%;
    width: 1300px;
    background-color: grey;
    display: block;
    text-align: center;
    padding-top: 46px;
}
.logo-footer {
}
.wrap {
    display: flex;
    vertical-align: top;
    width: auto;
    text-align: right;
    padding-top: 40px;
}
.social {
    display: inline-block;
    margin: 0 30px;
    vertical-align: top;
    text-align: center;
}
.sytems {
    display: inline-block;
    text-align: center;
}
h2 {
    padding: 8px 19px;
    font-size: 20px;
    color: #fff;
    background-color: rgba(225, 225, 225, 0.1);
}
li {
    display: inline-block;
}
a {
    &:hover {
        opacity: 0.5;
    }
}
